{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        <ul id="taglist" class="taglist">
            <li><a href="{{@blog.url}}">Home</a></li>
            <li><a href="/tag/ideas">Startup Ideas</a></li>
            <li><a href="/tag/code">Coding</a></li>
            <li><a href="/tag/hacks">Tips & Tricks</a></li>
            <li><a href="/tag/culture">Web Culture</a></li>
            <li><a href="/tag/news">Tech News</a></li>
        </ul>
      </div>
    </nav>

</header>
