<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->
    <p>See my latest projects at <a href="http://www.geeksmarter.com">GeekSmarter.com</a></p>

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="http://facebook.com/geeksmarter" target="_blank" class="social-item fb"><li><i class="fa fa-facebook"></i></li></a>

    <a href="http://github.com/geeksmarter" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>

    <a href="http://twitter.com/geeksmarter" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>

    <a href="/rss" target="_blank" class="social-item rss"><li><i class="fa fa-rss"></i></li></a>
  </ul>
</div>

<div class="sidebox box ad">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Blog Sidebar -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1040494680964867"
       data-ad-slot="4041810437"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>
